body {
  background: linear-gradient(to right, #0f2027, #203a43, #3f5d69);
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-evenly;
}

#start-button {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  border-style: double;

  background-image: url("docs/assets/imgs/button.png");
  background-size: cover;
}

#start-screen {
  width: 1000px;
  height: 550px;
  background-image: url("docs/assets/imgs/backgroundd.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-evenly;
}

p {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 1.5em;
}

#other-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-evenly;
}
